<html>
    <head>
        <style>

        .footer-box {
            display: flex;
            width: 90%;
            height: auto;
            margin:auto;
            background-color: rgba(133, 55, 164, 0.45);
            padding: 2rem;
            border-radius: 30px;
            backdrop-filter: blur(3px);
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.28);
            justify-content: center;

        }

        .sitefooter_p {
            color: #fff;
            font-size: 12px;
            margin: 0;
            text-align: center;

        }
        
        </style>
    </head>
<body>

<footer >
    <div class="footer-box">
        <p class="sitefooter_p">
            &copy;2025 Sony Music Entertainment. All Rights Reserved.
            LEGACY and the “L Legacy” logo are registered trademarks of Sony Music Entertainment.
            Send Us Feedback | Privacy Policy | How We Use Your Data | Do Not Sell My Personal Information |
            Your California Privacy Rights | Terms and Conditions | Why Music Matters
        </p>
    </div>
</footer>

</body>
</html>