---
import "./styles/style.css"
import Navigation from "./Components/Navigation.astro"
import Jhfooter from "./Components/Jhfooter.astro"
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>

	<body>

        
 	<body>
		<header>
			<Navigation/>
		</header>

		<div class="Biography_JH">

			<div class="bio_box">

				<div class="bio_img">
					<img src="/images/JH_img_about.png" alt="Jimi Hendrix Illustration">
				</div>

			
				<div class="bio_text">
						<h2>Jimi Hendrix</h2>
						<h3>1942 – 1970</h3>

					<p>Jimi Hendrix was one of the most innovative and influential musicians of the 20th century. His groundbreaking use of distortion, fuzz, and feedback redefined what the electric guitar could do. Although he could not read music, he achieved a remarkably fast rise to fame and left a legacy that continues to inspire artists today.</p>

					<p>Born in Seattle as Johnny Allen Hendrix and later renamed James Marshall, he grew up inspired by blues legends such as B.B. King and Muddy Waters. Entirely self-taught, he began playing on a second-hand acoustic guitar before joining his first local bands.</p>

					<p>In 1961, he enlisted in the U.S. Army, where he met bassist Billy Cox. After being discharged, Hendrix worked as a session guitarist for artists including Ike & Tina Turner, Sam Cooke, and Little Richard. He later formed his own group, Jimmy James and the Blue Flames.</p>

					<p>His major breakthrough came when Animals bassist Chas Chandler brought him to London in 1966 and helped form The Jimi Hendrix Experience with Mitch Mitchell and Noel Redding. Their debut album <em>Are You Experienced</em> became a landmark of rock music.</p>

					<p>With music that blended blues, rock, R&B, jazz, and ballads, Jimi Hendrix remains one of the most important and influential figures in the history of rock.</p>
				</div>
		
			</div>

		</div>

	</body>


	<footer>
		<Jhfooter/>
	</footer>


</html>
